menu = """

    [d] Depositar
    [s] Sacar
    [e] extrato
    [q] Sair

=> """

saldo = 0
limite = 500
extrato = ""
numero_saque = 0
LIMITE_SAQUE = 3

while True: 

    opcao = input(menu)

    if opcao == "d":
        valor = float(input("informe o valor do depósito: "))

        if valor > 0:
            saldo += valor
            extrato += f"Depósito: R$ {valor:.2f}\n"
            print(f"depósito de R${valor:.2f} concluido")

        else:
            print("operação falhou, o valor informado é inválido")
    
    elif opcao == "s":
        valor = float(input("informe o valor de saque: "))

        excedeu_saldo = valor > saldo

        excedeu_limite = valor > limite

        excedeu_saques = numero_saque >= LIMITE_SAQUE
       
        if excedeu_saldo:
           print("erro na operação!, não possui saldo suficiente.")

        elif excedeu_limite:
           print("erro na operação!, não possui limite suficiente.")
        
        elif excedeu_saques:
           print("erro na operação!, o limite de saques diario foi ultrapassado")

        elif valor > 0:
           numero_saque += 1
           saldo -= valor
           print(f"operação concluida!, seu saldo atual é de {saldo}")
           extrato += f"saque: R$ {valor:.2f}\n"       

    elif opcao == "e":
        print("///////////////////////EXTRATO////////////////////////")
        print("não foram realizadas movimentações."if not extrato else extrato)
        print(f"saldo: R$ {saldo:.2f}")
        print("//////////////////////////////////////////////////////")
        
    elif opcao == "q":
        break

    else:
        print("operação invalida, tente novamente.")
